# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs and Databases
*.log
*.sqlite3
